.category-cards-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: auto auto 3rem;
  padding: 1rem 0 2rem;
}

.category-cards-container::-webkit-scrollbar {
  width: 0rem;
}

.categorySection-header,
.restaurantSection-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 78%;
  margin: 2rem auto;
  background-color: var(--faint-gray);
  padding: 1rem 2rem;
  border-radius: 15px;
}

.categorySection-selection,
.restaurantSection-selection {
  width: 10rem;
  height: 2.2rem;
  font-size: 1.2rem;
  border-radius: 8px;
  padding: 0.2rem;
}
